*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Ubuntu', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #03DAC6;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

@media (min-width: 300px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }


  body {
    background: black;
    color: var(--clr-dark);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    overflow-x: hidden;
    margin: 0;
  }

  .navbar {
    width: 4rem;
    height: 100vh;
    padding: 0.5rem;
    position: fixed;
    background: black;
    opacity: 90%;
    transition: width 100ms ease-in;
  }

  .navbar-nav {
    list-style: none;
    padding: 0;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-link {
    display: flex;
    align-items: center;
    height: 2rem;
    text-decoration: none;
    filter: sepia(100%) opacity(50%);
    transition: 200ms;
  }

  .nav-link:hover {
    filter: sepia(0%) opacity(100%);
  }

  .link-text {
    display: none;
  }

  .navbar:hover {
    width: 8.7rem;
  }

  .navbar:hover .link-text {
    font-size: 14px;
    text-indent: 1rem;
    color: white;
    display: block;
  }


  .nav-item {
    width: 100%;
    height: 6rem;
    color: white;
  }

  img {
    display: block;
    max-width: 100%;
  }

  h1,
  h2,
  h3 {
    line-height: 1.1;
    margin: 0;
  }

  h1 {
    font-size: var(--fs-h1)
  }

  h2 {
    font-size: var(--fs-h2)
  }

  h3 {
    font-size: var(--fs-h3)
  }

  .wrapper {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .typing-demo {
    width: 10ch;
    animation: typing2 1s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }

  @keyframes typing2 {
    from {
      width: 0
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  ion-icon {
    pointer-events: none;
  }

  .github {

    width: 20%;
    color: darkgray;
    transition: color 1s;
  }

  .github:hover {
    color: white;
  }

  .linkedin {

    width: 20%;
    color: #0e76a8;
    transition: color 1s;
  }

  .linkedin:hover {
    color: white;
  }

  .email {

    width: 20%;
    color: #0072C6;
    transition: color 1s;
  }

  .email:hover {
    color: white;
  }

  .insta {

    width: 20%;
    color: rebeccapurple;
    transition: color 1s;
  }

  .insta:hover {
    color: white;
  }

  .resume {

    width: 20%;
    color: darkcyan;
    transition: color 1s;
  }

  .resume:hover {
    color: white;
  }


}